* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-white;
}

h1 {
  @include title;
}

h2 {
  @include subtitle;
}

h3 {
  @include highlight;
}

p {
  @include text;
}

a {
  @include link;
}

ul {
  @include list;
}

.info-wrapper {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $content-margin;
  padding-right: $content-margin;
}

.divider {
  width: calc(100% - (2*$content-margin));
  height: 1px;
  margin: 5% $content-margin 0;
  background-color: $color-white;
}